.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    padding: 10px 30px;
}
.header img{
    width: 100px;
}
.header .nav-bar{
    background-color: black;
    padding: 5px 20px;
    display: flex;
    gap: 20px;
    font-family: var(--font-inter);
    border-radius: 40px;
    color: #fff;
    border: 1px solid #ffffff48;
}
.header .nav-bar a{
    padding: 10px 20px;
    transition: 0.3s;
    border-radius: 20px;
}
.header .nav-bar a:hover{
    background-color: rgba(255, 115, 0, 0.678);
    
}
.active{
    background-color: var(--color-principal);
    color: black;
}
.btn-header button{
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid var(--color-principal);
    box-shadow: inset 2px 2px 10px 2px black, inset -2px -2px 10px rgba(0, 0, 0, 0.26);
    color: #000;
    background-color: var(--color-principal);
    cursor: pointer;
    transition: 1s;
    opacity: 0;
}
.btn-header button:hover{
    transform: scale(1.04);
    box-shadow: inset 2px 2px 10px 2px rgba(0, 0, 0, 0.349), inset -2px -2px 10px rgb(0, 0, 0);
}