.portfolio{
    position: absolute;
    top: 30%;
    left: 10%;
}
.portfolio h1{
    font-size: 70px;
    color: #fff;
}
.portfolio h1 span{
    color: var(--color-principal);
}
.portfolio p{
    color: #fff;
    font-family: var(--font-inter);
    margin-bottom: 30px;
}
.portfolio p span{
    color: var(--color-principal);
}

/* Portifolio amostra */
.Portfolio-section{
    min-height: 100vh;
    width: 100%;
    background-color: #070707;
    position: relative;
    overflow: hidden;
}

.bolinhas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.bolinhas .bolinha{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--color-principal);
    box-shadow:0 0 100px var(--color-principal),0 0 100px var(--color-principal),0 0 200px var(--color-principal);
    filter: blur(20px);
    opacity: .4;
}
.boll{
    right: 200px;
    top: 30%;
}
.boll1{
    top: 10%;
    left: 20%;
}
.boll2{
    top: 60%;
    left: 40%;
}
.info-port{
    color: #fff;
    padding-left: 5rem;
    padding-top: 6rem;
    position: relative;
    z-index: 2;
}
.info-port .desc{
    display: block;
    font-family: var(--font-inter);
    color: var(--color-principal);
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.info-port h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}
.info-port h2 span{
    color: var(--color-principal);
}
.info-port p{
    font-family: var(--font-Mont);
    font-size: 13px;
    margin-bottom: 20px;
}
.info-port hr{
    width: 6rem;
    height: 2px;
    background: linear-gradient(90deg, rgb(255, 115, 0), rgba(255, 123, 0, 0));
    border: none;
}
.secao{
    width: 100%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.cards-secao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    max-width: 1400px;
}

.cards-secao .card-secao{
    width: 400px;
    height: 250px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #000000;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.cards-secao .card-secao::before{
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff3f,  transparent);
    transform: skewX(-25deg);
    transition: 0.7s;
}
.cards-secao .card-secao:hover::before{
    left: 180%;
}
.card-secao.card1{
    background:  linear-gradient(35deg, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.76)), url("../img/gestante.jpg") center top no-repeat; 
    background-size: cover;
}
.card-secao.card2{
    background:  linear-gradient(35deg, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.76)), url("../img/newborn.jpg") center center no-repeat;
    background-size: cover;
}
.card-secao.card3{
    background:  linear-gradient(35deg, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.76)), url("../img/acompanhamento.jpg") center top no-repeat; 
    background-size: cover;
}
.card-secao.card4{
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.76)), url("../img/ensaio.png") center center no-repeat;
    background-size: cover;
}
.card-secao.card5, .card-secao.card6{
    background: linear-gradient(35deg, rgb(17, 17, 17), rgb(53, 53, 53));
}

.cards-secao .card-secao .info-secao{
    position: absolute;
    bottom: 10px;
    left: 10px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
}
.cards-secao .card-secao:hover .info-secao{
    opacity: 1;
    transform: translateY(0);
}
.cards-secao .card-secao i{
    color: var(--color-principal);
    font-size: 30px;
    margin: 10px;
}
.cards-secao .card-secao .info-secao h4{
    color: #fff;
    font-size: 20px;
    font-family: var(--font-Mont);
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.cards-secao .card-secao .info-secao  hr{
    border: none;
    width: 3rem;
    height: 3px;
    background: linear-gradient(90deg, rgb(255, 102, 0), rgba(0, 0, 0, 0));
}
.cards-secao .card-secao .info-secao p{
    color: #ffffffbb;
    font-family: var(--font-inter);
    font-size: 12px;
    margin-top: 10px;
}
